In [54]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, precision_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [55]:
df = pd.read_csv('loan_data.csv')
df.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1

In [56]:
df.shape

(45000, 14)

In [57]:
df.dtypes

person_age                        float64
person_gender                      object
person_education                   object
person_income                     float64
person_emp_exp                      int64
person_home_ownership              object
loan_amnt                         float64
loan_intent                        object
loan_int_rate                     float64
loan_percent_income               float64
cb_person_cred_hist_length        float64
credit_score                        int64
previous_loan_defaults_on_file     object
loan_status                         int64
dtype: object

In [58]:
df.isnull().sum()

person_age                        0
person_gender                     0
person_education                  0
person_income                     0
person_emp_exp                    0
person_home_ownership             0
loan_amnt                         0
loan_intent                       0
loan_int_rate                     0
loan_percent_income               0
cb_person_cred_hist_length        0
credit_score                      0
previous_loan_defaults_on_file    0
loan_status                       0
dtype: int64

In [59]:
df.nunique()

person_age                           60
person_gender                         2
person_education                      5
person_income                     33989
person_emp_exp                       63
person_home_ownership                 4
loan_amnt                          4483
loan_intent                           6
loan_int_rate                      1302
loan_percent_income                  64
cb_person_cred_hist_length           29
credit_score                        340
previous_loan_defaults_on_file        2
loan_status                           2
dtype: int64

In [60]:
for col in df.columns:
    print(col, df[col].unique())

person_age [ 22.  21.  25.  23.  24.  26. 144. 123.  20.  32.  34.  29.  33.  28.
  35.  31.  27.  30.  36.  40.  50.  45.  37.  39.  44.  43.  41.  46.
  38.  47.  42.  48.  49.  58.  65.  51.  53.  66.  61.  54.  57.  59.
  62.  60.  55.  52.  64.  70.  78.  69.  56.  73.  63.  94.  80.  84.
  76.  67. 116. 109.]
person_gender ['female' 'male']
person_education ['Master' 'High School' 'Bachelor' 'Associate' 'Doctorate']
person_income [71948. 12282. 12438. ... 31924. 56942. 33164.]
person_emp_exp [  0   3   1   5   4   2   7   6 125   8 121 101 100  12  10   9  14  13
  11  15  16  17  19  28  25  18  24  22  20  23  21  31  26  27  29  32
  30 124  40  43  33  44  34  42  37  45  36  41  47  38  39  35  57  46
  49  48  50  76  62  61  58  93  85]
person_home_ownership ['RENT' 'OWN' 'MORTGAGE' 'OTHER']
loan_amnt [35000.  1000.  5500. ... 12229.  2771.  6665.]
loan_intent ['PERSONAL' 'EDUCATION' 'MEDICAL' 'VENTURE' 'HOMEIMPROVEMENT'
 'DEBTCONSOLIDATION']
loan_int_rate [16.02 11.14 12.87 ... 19.11 19.8  16.92]
loan_percent_income [0.49 0.08 0.44 0.53 0.19 0.37 0.35 0.13 0.34 0.3  0.27 0.25 0.05 0.24
 0.31 0.26 0.12 0.18 0.21 0.43 0.11 0.4  0.32 0.1  0.41 0.22 0.07 0.02
 0.17 0.51 0.38 0.33 0.06 0.03 0.28 0.04 0.09 0.2  0.23 0.15 0.48 0.5
 0.14 0.42 0.01 0.46 0.29 0.39 0.36 0.16 0.   0.57 0.45 0.52 0.55 0.61
 0.62 0.66 0.54 0.47 0.56 0.58 0.63 0.59]
cb_person_cred_hist_length [ 3.  2.  4.  8.  7.  6.  9. 10.  5. 11. 16. 15. 12. 13. 17. 14. 25. 28.
 27. 22. 19. 29. 23. 26. 20. 21. 30. 24. 18.]
credit_score [561 504 635 675 586 532 701 585 544 640 621 651 573 708 583 670 663 694
 709 679 684 662 691 600 654 626 607 700 553 589 681 567 669 606 582 649
 602 616 631 637 695 620 622 645 624 570 648 652 559 623 609 579 688 661
 562 664 564 598 557 677 690 599 604 601 634 671 789 538 587 683 518 617
 668 673 706 536 689 595 584 642 614 597 625 603 643 508 505 593 686 646
 697 615 687 650 588 658 531 665 703 594 618 574 577 653 630 660 639 612
 628 592 580 678 672 613 566 718 484 699 656 659 636 554 807 578 674 608
 569 629 560 548 667 676 581 655 551 529 666 576 633 611 657 647 542 692
 545 540 525 537 641 539 563 712 491 590 572 528 638 627 596 547 507 565
 693 522 632 556 499 704 503 714 552 555 558 521 605 571 591 719 610 535
 644 523 546 702 711 534 805 682 447 725 680 568 524 710 707 619 460 696
 527 511 477 575 496 685 476 502 541 722 506 487 530 515 513 520 724 514
 501 549 720 486 716 465 509 517 444 482 698 443 512 526 454 550 462 717
 727 715 543 448 713 721 481 723 533 705 483 740 495 459 489 519 494 498
 488 468 490 479 510 472 480 421 473 500 493 441 485 450 467 461 475 463
 728 735 458 456 726 729 750 455 478 453 445 431 737 497 492 437 516 451
 434 435 439 466 440 449 469 471 730 470 734 751 739 736 738 733 732 731
 741 748 744 762 742 745 743 464 390 755 747 759 746 756 753 764 850 760
 754 770 784 773 765 772 419 474 430 418 420 792 768 457 446 767]
previous_loan_defaults_on_file ['No' 'Yes']
loan_status [1 0]

In [61]:
df['person_gender'] = df['person_gender'].map({'male': 1, 'female': 0})

df['previous_loan_defaults_on_file'] = \
    df['previous_loan_defaults_on_file'].map({'Yes': 1, 'No': 0})

In [62]:
df.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,0,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,0,1
1,21.0,0,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,1,0
2,25.0,0,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,0,1
3,23.0,0,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,0,1
4,24.0,1,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,0,1

In [63]:
df = pd.get_dummies(
    df,
    columns=[
        'person_education',
        'person_home_ownership',
        'loan_intent'
    ],
    drop_first=True,
    dtype=int
)

In [64]:
df.head()

,person_age,person_gender,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,...,person_education_High School,person_education_Master,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE
0,22.0,0,71948.0,0,35000.0,16.02,0.49,3.0,561,0,...,0,1,0,0,1,0,0,0,1,0
1,21.0,0,12282.0,0,1000.0,11.14,0.08,2.0,504,1,...,1,0,0,1,0,1,0,0,0,0
2,25.0,0,12438.0,3,5500.0,12.87,0.44,3.0,635,0,...,1,0,0,0,0,0,0,1,0,0
3,23.0,0,79753.0,0,35000.0,15.23,0.44,2.0,675,0,...,0,0,0,0,1,0,0,1,0,0
4,24.0,1,66135.0,1,35000.0,14.27,0.53,4.0,586,0,...,0,1,0,0,1,0,0,1,0,0

In [65]:
df.dtypes

person_age                        float64
person_gender                       int64
person_income                     float64
person_emp_exp                      int64
loan_amnt                         float64
loan_int_rate                     float64
loan_percent_income               float64
cb_person_cred_hist_length        float64
credit_score                        int64
previous_loan_defaults_on_file      int64
loan_status                         int64
person_education_Bachelor           int64
person_education_Doctorate          int64
person_education_High School        int64
person_education_Master             int64
person_home_ownership_OTHER         int64
person_home_ownership_OWN           int64
person_home_ownership_RENT          int64
loan_intent_EDUCATION               int64
loan_intent_HOMEIMPROVEMENT         int64
loan_intent_MEDICAL                 int64
loan_intent_PERSONAL                int64
loan_intent_VENTURE                 int64
dtype: object

In [66]:
X = df.drop('loan_status', axis=1)
y = df['loan_status']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

In [67]:
numerical_cols = [
    'person_age',
    'person_income',
    'person_emp_exp',
    'loan_amnt',
    'loan_int_rate',
    'loan_percent_income',
    'cb_person_cred_hist_length',
    'credit_score'
]

scaler = StandardScaler()
X_train[numerical_cols] = scaler.fit_transform(X_train[numerical_cols])

In [68]:
X_test[numerical_cols] = scaler.transform(X_test[numerical_cols])

In [69]:
y_train.value_counts(normalize=True) * 100

loan_status
0    77.777778
1    22.222222
Name: proportion, dtype: float64

In [70]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state=42)
X_train_res, y_train_res = smote.fit_resample(X_train, y_train)

In [71]:
y_train.value_counts(normalize=True) * 100

loan_status
0    77.777778
1    22.222222
Name: proportion, dtype: float64

In [72]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

In [73]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(random_state=42)

lr.fit(X_train_res, y_train_res)


y_pred = lr.predict(X_test)
y_proba = lr.predict_proba(X_test)[:,1]  # for ROC-AUC


accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
roc_auc = roc_auc_score(y_test, y_proba)


print("Logistic Regression Metrics:")
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1)

Logistic Regression Metrics:
Accuracy: 0.8682222222222222
Precision: 0.6459827833572453
Recall: 0.9005
F1-score: 0.752297410192147

In [74]:
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train_res, y_train_res)

y_pred = rf.predict(X_test)

accuracy_rf = accuracy_score(y_test, y_pred)
precision_rf = precision_score(y_test, y_pred)
recall_rf = recall_score(y_test, y_pred)
f1_rf = f1_score(y_test, y_pred)

print("Random Forest Metrics:")
print("Accuracy:", accuracy_rf)
print("Precision:", precision_rf)
print("Recall:", recall_rf)
print("F1-score:", f1_rf)

Random Forest Metrics:
Accuracy: 0.919
Precision: 0.7984969469234382
Recall: 0.85
F1-score: 0.8234439331557277

In [76]:


metrics_df = pd.DataFrame({
    'Model': ['Logistic Regression', 'Random Forest'],
    'Accuracy': [accuracy, accuracy_rf],
    'Precision': [precision, precision_rf],
    'Recall': [recall, recall_rf],
    'F1-score': [f1, f1_rf]
})

print(metrics_df)

                 Model  Accuracy  Precision  Recall  F1-score
0  Logistic Regression  0.868222   0.645983  0.9005  0.752297
1        Random Forest  0.919000   0.798497  0.8500  0.823444

In [79]:


def predict_loan_real_time(rf_model, scaler, training_columns):
    print("Enter applicant details:")

    new_data = {
        'person_age': float(input("Age: ")),
        'person_gender': input("Gender (male/female): ").lower(),
        'person_education': input("Education (Master/High School/Bachelor/Associate/Doctorate): "),
        'person_income': float(input("Income: ")),
        'person_emp_exp': int(input("Years of Experience: ")),
        'person_home_ownership': input("Home Ownership (RENT/OWN/MORTGAGE/OTHER): "),
        'loan_amnt': float(input("Loan Amount: ")),
        'loan_intent': input("Loan Intent (PERSONAL/EDUCATION/MEDICAL/VENTURE/HOMEIMPROVEMENT/DEBTCONSOLIDATION): "),
        'loan_int_rate': float(input("Loan Interest Rate (%): ")),
        'loan_percent_income': float(input("Loan Percent of Income (e.g., 0.3): ")),
        'cb_person_cred_hist_length': float(input("Credit History Length (years): ")),
        'credit_score': int(input("Credit Score: ")),
        'previous_loan_defaults_on_file': input("Previous Loan Defaults? (Yes/No): ").capitalize()
    }


    user_df = pd.DataFrame([new_data])


    user_df['person_gender'] = user_df['person_gender'].map({'male': 1, 'female': 0})
    user_df['previous_loan_defaults_on_file'] = user_df['previous_loan_defaults_on_file'].map({'Yes': 1, 'No': 0})


    user_df = user_df.drop(['person_education', 'person_home_ownership', 'loan_intent'], axis=1)


    for col in training_columns:
        if col not in user_df.columns:
            user_df[col] = 0


    edu_col = f"person_education_{new_data['person_education']}"
    home_col = f"person_home_ownership_{new_data['person_home_ownership']}"
    intent_col = f"loan_intent_{new_data['loan_intent']}"

    for col in [edu_col, home_col, intent_col]:
        if col in user_df.columns:
            user_df[col] = 1


    user_df = user_df[training_columns]


    numerical_cols = [
        'person_age', 'person_income', 'person_emp_exp', 'loan_amnt',
        'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length', 'credit_score'
    ]
    user_df[numerical_cols] = scaler.transform(user_df[numerical_cols])


    prediction = rf_model.predict(user_df)[0]
    probability = rf_model.predict_proba(user_df)[0,1]

    if prediction == 1:
        print(f"\nLoan Approved  (Probability: {probability:.2f})")
    else:
        print(f"\nLoan Rejected  (Probability: {probability:.2f})")

In [80]:
predict_loan_real_time(rf, scaler, X_train.columns)

Enter applicant details:
Age: 22.0
Gender (male/female): female
Education (Master/High School/Bachelor/Associate/Doctorate): master
Income: 71948
Years of Experience: 0
Home Ownership (RENT/OWN/MORTGAGE/OTHER): rent
Loan Amount: 35000
Loan Intent (PERSONAL/EDUCATION/MEDICAL/VENTURE/HOMEIMPROVEMENT/DEBTCONSOLIDATION): personal
Loan Interest Rate (%): 16.02
Loan Percent of Income (e.g., 0.3): 0.49
Credit History Length (years): 3
Credit Score: 561
Previous Loan Defaults? (Yes/No): no

Loan Approved  (Probability: 0.94)